.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-group-1 {
  width: 539px;
  min-height: 248px;
  height: auto;
  margin: 240px 40px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 40px 0;
}

.u-section-1 .u-text-3 {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 532px;
  width: 426px;
  margin: -397px auto 0 39px;
}

.u-section-1 .u-image-1 {
  width: 426px;
  height: 532px;
  margin: -567px auto 60px 75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 486px;
    margin-top: 86px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 446px;
    margin-top: -281px;
  }

  .u-section-1 .u-image-1 {
    width: 461px;
    margin-left: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 95px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-1 {
    width: 489px;
    margin-top: -483px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-1 .u-group-1 {
    width: 456px;
    margin-top: 113px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 75px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-image-1 {
    width: 448px;
    height: 397px;
    margin-top: -567px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 215px;
    width: 249px;
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 264px;
    height: 264px;
    margin-top: -303px;
    margin-left: 33px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}